In [1]:
import pandas, os

In [2]:
item = pandas.read_excel("../../Data_SNP_Intern/2_ITEM.xlsx")

In [4]:
item.columns

Index(['ITEM_KEY', 'ITEM_NO', 'SITE_ID', 'ARR_BY', 'ARR_CAR', 'ARR_TS', 'FEL',
       'DEP_TS', 'DEP_BY', 'DEP_CAR', 'ISO', 'LENGTH', 'CATEGORY', 'OWNER',
       'EXIT_VES_CD', 'EXIT_VOYAGE', 'PLACE_OF_DELIVERY', 'PLACE_OF_RECEIPT',
       'ITEM_TYPE', 'SLOT_CODE', 'LINE_OPER', 'AGENT', 'DISCH_PORT',
       'FDISCH_PORT', 'HIST_FLG', 'LOAD_PORT', 'LL_DISCH_PORT'],
      dtype='object')

In [6]:
item['ITEM_TYPE'].unique().tolist()

['GP', 'RF', 'TK', 'PL', 'OT']

In [8]:
len(item['ITEM_NO'].unique().tolist())

47793

In [11]:
len(item['ITEM_KEY'].unique().tolist())

48000

In [12]:
item_key_ITEM = item.loc[item['ITEM_TYPE']=='RF']['ITEM_NO'].tolist()

In [6]:
reefer = pandas.read_excel("../../Data_SNP_Intern/4_ITEM_REEFER.xlsx")

In [7]:
reefer.columns

Index(['ITEM_KEY', 'CHILLED_TEMP', 'FROZEN_TEMP', 'PTIDATE', 'UPD_TS',
       'FROZEN_TYPE'],
      dtype='object')

In [14]:
item_key_REEFER = reefer['ITEM_KEY'].tolist()

In [9]:
len(item_key_reefer) == len(item_key_ITEM)

False

In [15]:
lst = list(filter(lambda x: x in item_key_ITEM, item_key_REEFER))

In [7]:
os.chdir("../../Data_SNP_Intern")

In [9]:
files = os.listdir()

In [10]:
for name in files:
    data = pandas.read_excel(name)
    name = name.replace("xlsx", "csv")
    data.to_csv(name, index=False)

['10_OPEARATION_METHOD.csv',
 '10_OPEARATION_METHOD.xlsx',
 '11_YARD_AREA.csv',
 '11_YARD_AREA.xlsx',
 '1_VESSEL_DETAILS.csv',
 '1_VESSEL_DETAILS.xlsx',
 '2_ITEM.csv',
 '2_ITEM.xlsx',
 '3_ITEM_LOCATION.csv',
 '3_ITEM_LOCATION.xlsx',
 '4_ITEM_REEFER.csv',
 '4_ITEM_REEFER.xlsx',
 '5_ITEM_OOG.csv',
 '5_ITEM_OOG.xlsx',
 '6_ITEM_DANGEROUS.csv',
 '6_ITEM_DANGEROUS.xlsx',
 '7_PREGATE_TRANSACT.csv',
 '7_PREGATE_TRANSACT.xlsx',
 '8_DISCHARGE_LIST.csv',
 '8_DISCHARGE_LIST.xlsx',
 '9_EDI_ITEM_PRE_ADVICE.csv',
 '9_EDI_ITEM_PRE_ADVICE.xlsx']

In [13]:
import pyodbc

In [17]:
connection = pyodbc.connect("Driver={SQL Server};Server=localhost;Database=ThucTapSNP;Trusted_Connection=True")

In [18]:
cursor = connection.cursor()

In [21]:
tables = cursor.tables()

In [24]:
data_type = pandas.read_excel("../TOPO_DATA_DESCRIPTION.xlsx")

In [25]:
data = pandas.ExcelFile("../TOPO_DATA_DESCRIPTION.xlsx")

In [26]:
data.sheet_names

['TOPOVN',
 'VESSEL_DETAILS',
 'ITEM',
 'ITEM_LOCATION',
 'ITEM_REEFER',
 'ITEM_OOG',
 'ITEM_DANGEROUS',
 'PREGATE_TRANSACT',
 'DISCHARGE_LIST',
 'EDI_ITEM_PRE_ADVICE',
 'OPERATION_METHOD',
 'YARD_AREA']

In [29]:
df = data.parse("VESSEL_DETAILS")

,SOURCE,Unnamed: 1,Unnamed: 2,DESCR
0,Column Name,Data type,NaN,NaN
1,VES_ID,CHAR (12),DEFAULT ' ',Mã tàu
2,SITE_ID,CHAR (6),DEFAULT ' ',Mã cảng
3,TFC_CODE_E,CHAR (12),DEFAULT ' ',Mã tàu chuyến xuất
4,TFC_CODE_I,CHAR (12),DEFAULT ' ',Mã tàu chuyến nhập
5,VES_CD,CHAR (4),DEFAULT ' ',Mã tàu
6,VES_NAME,CHAR (30),DEFAULT ' ',Tên tàu
7,VES_DEP_DATE,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",NaN
8,VES_SERVICE,CHAR (10),DEFAULT ' ',Tuyến dịch vụ
9,VES_STATUS,CHAR (1),DEFAULT ' ',NaN
10,VES_TYPE,CHAR (1),DEFAULT ' ',F: Feader = tàu con; B: Barge = Xà Lan; M: Mot...
11,CALL_SIGN,CHAR (20),DEFAULT ' ',biển số tàu
12,IN_VOYAGE,CHAR (12),DEFAULT ' ',Mã Chuyến tàu nhập
13,OUT_VOYAGE,CHAR (12),DEFAULT ' ',Mã chuyến tàu xuất
14,LINE_OPER,CHAR (7),DEFAULT ' ',xác định Chủ tàu (Dùng trước 2018)
15,AGENT,CHAR (3),DEFAULT ' ',xác định Chủ tàu (Dùng sau 2018)
16,OWNER,CHAR (6),DEFAULT ' ',NaN
17,BERTH_NO,CHAR (5),DEFAULT ' ',Vị trí cập
18,ACT_ANCHORAGE_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",NaN
19,ACT_BERTH_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",Thời gian cập cảng thực tế
20,ACT_DEP_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",Thời gian rời cảng thực tế
21,ACT_END_WORK_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",NaN
22,ACT_PILOT_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",NaN
23,ACT_START_WORK_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",NaN
24,OCEAN_INTERISLAND,CHAR (1),DEFAULT ' ',Xác định tàu đi tuyến Nội địa (D) hay Quốc tế (I)
25,ALL_LINES,CHAR (1),DEFAULT ' ',Mã cầu cảng
26,VES_LENGTH,"NUMBER (9,3)",DEFAULT 0,NaN
27,AVAILABLE_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",NaN
28,BERTH_FR_METRE,NUMBER (4),DEFAULT 0,NaN
29,BERTH_GRID,CHAR (5),DEFAULT ' ',NaN
30,BERTH_TO_METRE,NUMBER (4),DEFAULT 0,NaN
31,BILLING_COMPLETE,CHAR (1),DEFAULT ' ',NaN
32,BTOA_SIDE,CHAR (1),DEFAULT ' ',NaN
33,CLEARANCE_AREA,CHAR (5),DEFAULT ' ',NaN
34,DEST_PORT,CHAR (6),DEFAULT ' ',NaN
35,DOCO_CUTOFF_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",NaN
36,EFFECTIVE_TIME,"NUMBER (9,3)",DEFAULT 0,NaN
37,EST_ANCHORAGE_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",NaN
38,EST_BERTH_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",Thời gian cập dự kiến
39,EST_DEP_TS,DATE,"DEFAULT to_date('31/12/1900 23:00','dd/mm/yyyy...",Thời gian rời dự kiến