In [1]:
import pandas, re

In [2]:
file_name = "../../Data_SNP_Intern/TOPO_DATA_DESCRIPTION.xlsx"
file = pandas.ExcelFile(file_name)

In [3]:
sheets = file.sheet_names
sheets.remove("TOPOVN")
sheets

['VESSEL_DETAILS',
 'ITEM',
 'ITEM_LOCATION',
 'ITEM_REEFER',
 'ITEM_OOG',
 'ITEM_DANGEROUS',
 'PREGATE_TRANSACT',
 'DISCHARGE_LIST',
 'EDI_ITEM_PRE_ADVICE',
 'OPERATION_METHOD',
 'YARD_AREA']

In [49]:
datatype = []
for name in sheets:
    data = pandas.read_excel(file, sheet_name=name, header=1)
    columns = GetColumnName(list(data.columns))
    dct = {}
    try:
        data = data.dropna(subset=[columns[0]])
        col_columns = data[columns[0]].tolist()
        col_datatype = [ConvertToSQLDatatype(i) for i in data[columns[1]].tolist()]
        sql_tablebody = ''
        for i in range(len(col_columns)):
            sql_tablebody += col_columns[i] + ' ' + col_datatype[i] + ",\n"
        sql_command = "create table {name} ({body})\n".format(name=name, body=sql_tablebody)
        print(sql_command)
    except KeyError as noColumn:
        print(name, noColumn)
        continue
    break

create table VESSEL_DETAILS (VES_ID char(12),
SITE_ID char(6),
TFC_CODE_E char(12),
TFC_CODE_I char(12),
VES_CD char(4),
VES_NAME char(30),
VES_DEP_DATE datetime,
VES_SERVICE char(10),
VES_STATUS char(1),
VES_TYPE char(1),
CALL_SIGN char(20),
IN_VOYAGE char(12),
OUT_VOYAGE char(12),
LINE_OPER char(7),
AGENT char(3),
OWNER char(6),
BERTH_NO char(5),
ACT_ANCHORAGE_TS datetime,
ACT_BERTH_TS datetime,
ACT_DEP_TS datetime,
ACT_END_WORK_TS datetime,
ACT_PILOT_TS datetime,
ACT_START_WORK_TS datetime,
OCEAN_INTERISLAND char(1),
ALL_LINES char(1),
VES_LENGTH numeric(9,3),
AVAILABLE_TS datetime,
BERTH_FR_METRE int,
BERTH_GRID char(5),
BERTH_TO_METRE int,
BILLING_COMPLETE char(1),
BTOA_SIDE char(1),
CLEARANCE_AREA char(5),
DEST_PORT char(6),
DOCO_CUTOFF_TS datetime,
EFFECTIVE_TIME numeric(9,3),
EST_ANCHORAGE_TS datetime,
EST_BERTH_TS datetime,
EST_DEP_TS datetime,
)

In [19]:
def GetColumnName(lst):
    patt_col = 'column(.)*'
    patt_data =  'data type'
    col_columnName = list(filter(lambda x: re.match(patt_col, x.lower()), lst))
    col_datatype = list(filter(lambda x: re.match(patt_data, x.lower()), lst))
    return [col_columnName.pop(0), col_datatype.pop(0)]

In [45]:
def ConvertToSQLDatatype(text):
    text = text.lower().replace(' ', '')
    if text == 'date':
        text = 'datetime'
    if 'byte' in text:
        text = text.replace('byte', '')
    patt_numeric = '(.)*([0-9],[0-9])'
    if re.match(patt_numeric, text):
        text = text.replace('number', 'numeric')
    elif 'number' in text:
        text= 'int'
    return text

In [44]:
list(filter(lambda x: re.match(patt_col, x.lower()), lst))

['Column Name']

In [38]:
patt_numeric = '(.)*([0-9],[0-9])'
text = 'number(9)'
if re.match(patt_numeric, text):
    print('a')

In [34]:
data = pandas.read_excel("../../Data_SNP_Intern/11_YARD_AREA.xlsx")

In [9]:
start = data.loc[0, 'FR_DATE']
end = data.loc[0, 'TO_DATE']

In [47]:
set(datatype)

{'char(1)',
 'char(10)',
 'char(12)',
 'char(15)',
 'char(17)',
 'char(2)',
 'char(20)',
 'char(25)',
 'char(3)',
 'char(30)',
 'char(34)',
 'char(4)',
 'char(5)',
 'char(50)',
 'char(6)',
 'char(7)',
 'char(8)',
 'datetime',
 'int',
 'numeric(12,3)',
 'numeric(5,0)',
 'numeric(5,1)',
 'numeric(9,0)',
 'numeric(9,3)',
 'varchar2(12)',
 'varchar2(250)',
 'varchar2(50)',
 'varchar2(72)'}