In [4]:
import pandas, re, os, datetime

In [6]:
path_TOPO = '../../Data_SNP_Intern/TOPO_DATA_DESCRIPTION.xlsx'
file = pandas.ExcelFile(path_TOPO)
sheets = file.sheet_names
sheets.remove("TOPOVN")

In [3]:
def GetColumns

OperationalError: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (2)')

In [4]:
cursor = connection.cursor()

In [ ]:
connection.close()

In [14]:
print(result.fetchone())

None

In [6]:
import os, pandas

In [7]:
path = '../../Data_SNP_Intern/'
files = os.listdir(path)
files.remove('TOPO_DATA_DESCRIPTION.xlsx')

In [74]:
name = files[0]
data = pandas.read_excel(path+name)
# data = data.fillna("null")

In [9]:
columns = list(data.columns)

In [55]:
name = name[name.index('_')+1 : name.index('.')]

In [56]:
name

'OPEARATION_METHOD'

In [26]:
columns = ['OPERATION_METHOD', 'CHARGE_CD', 'CATEGORY', 'SPEC_HDL_CD', 'OPERATION_NAME', 'CRT_TS', 'SITE_ID', 'OPERATION_TYPE', 'TERMINAL_ID', 'MOVE_REASON_CD', 'DIRECT_IMP_EXP', 'PLACE_OF_RECEIPT', 'PLACE_OF_DELIVERY', 'OUT_VOYAGE_INFO_FLG']

In [67]:
data = data[columns]
def ConvertToSQLQuery(lst):
    result = []
    for val in lst:
        if val.isalpha():
            result.append("'%s'"%(val))

In [75]:
row = data.loc[1].tolist()
row

['HAHN',
 'HAHN',
 'I',
 nan,
 'Hạ cont hàng nhập',
 '16/05/2014 10:38:50',
 'CTL',
 'RECV',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Y',
 nan,
 nan,
 nan,
 nan]

In [69]:
command = "insert into {table}({columns}) values ({value})".format(
table = name,
columns = ','.join(columns),
value = ','.join(row))

In [70]:
len(row), len(columns)

(14, 14)

In [71]:
command

"insert into OPEARATION_METHOD(OPERATION_METHOD,CHARGE_CD,CATEGORY,SPEC_HDL_CD,OPERATION_NAME,CRT_TS,SITE_ID,OPERATION_TYPE,TERMINAL_ID,MOVE_REASON_CD,DIRECT_IMP_EXP,PLACE_OF_RECEIPT,PLACE_OF_DELIVERY,OUT_VOYAGE_INFO_FLG) values ('HAHN','HAHN','I','null','Hạ cont hàng nhập','16/05/2014 10:38:50','CTL','RECV','null','null','null','null','null','null')"

In [76]:
'16/05/2014 10:38:50'.isalpha()

False